.container-box {
    width: 95%;
    margin: 10px auto;
    padding: 12px 9px;
    border-radius: 12px;
    background: white;
    font-family: var(--font-name);
    box-shadow: 3px 7px 12px rgba(0, 0, 0, 0.3);
}

h3 {
    font-weight: 600;
}

textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    font-size: 15px;
    color: var(--text-color);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid #ddd;
    border-radius: 12px;
}

textarea:hover {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

textarea:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}


.result-action-box {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.result-action-box > button {
  align-items: center;
  appearance: button;
  width: 100%;
  text-align: center;
  background-color: var(--button-pri);
  border-radius: 9px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-shrink: 0;
  font-family: var(--font-name);
  line-height: 1.15;
  margin: 0;
  padding: 5px 10px;
  text-align: center;
  text-transform: none;
  transition: color .13s ease-in-out,background .13s ease-in-out,opacity .13s ease-in-out,box-shadow .13s ease-in-out;
  user-select: none;
  margin-left: 10px;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.result-action-box > button:hover {
  background-color: var(--button-pri-hover);
}

.result-action-box > button:active {
  background-color: var(--button-pri-active);
}

.material-symbols-outlined {
    transform: scale(.7);
}